
<!-- Alien plain tytpe font -->
@font-face {
    font-family: alienleague;
    src: url(Fonts/alienleagueii.ttf) format("opentype");   
}

<!-- destructo plain -->
@font-face {
	font-family: destructobeambb;
	src:url(Fonts/destructobeambb_bold.tff) format("opentype");
	}

<!-- Destructo with paint effect -->
@font-face {
    font-family: Destructo;
    src: url(Fonts/NoLicense_R-2014_Eroded.ttf) format("opentype");
}



#container  {
  position :relative;
  border: 1px solid #66FF00;
  width: 980px;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 10px;
black  top: 2em;
  left: 1em;
}

div#menu {
   position: absolute;
   text-indent: 20px;
   width:20px;
   top: 0px;
   left:0px;
}
h1#cvh1{
   font-family: destructobeambb;
   font-size: 45px;
  
}
h2#cvh2{
   font-family: alienleague;
   font-size: 35px;
   
}
h3#cvh3{
   font-family: alienleague;
   font-size: 25px;
   
}

#Mainmenutitle{
font-family: destructobeambb;
color:#66FF00;
background-color:blue;


}

#cvtext{
   font-family: Caudexitalic;
   font-size: 20px;
   
}

p#validation {
  position: relative;
  top: 2em;
  left: 1em;  
}

p#cvaddress {
  font-family: Caudexreg;
  font-size: 20px;
  text-align: center;
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
  
body {
  padding-left: 12em;
  font-family:  destructobeambb;
 
  background: url(wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
  

ul.navbar li {
  background: #000000;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 0em solid white }
  
ul.navbar a {
  text-decoration: none }
  
a:link {color:#FF0000;}    /* unvisited link */
a:visited {color:#00FF00;} /* visited link */
a:hover {color:#FF00FF;}   /* mouse over link */
a:active {color:#0000FF;}  /* selected link */

address {
  text-align: left;
  margin-top: 1em;
  padding-top: 1em;}
  
 

